/* BASIC STYLES HERE */


.dog-card{

  display: inline-block;
	color: black;
	width: 90%;
  max-height: 26rem;
	text-decoration: none;
	/* background: hsl(187 75% 64%); */
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.05rem solid;
}

.dog-image{
  min-height:20rem;
  border-radius: 0.6rem;
  border-top: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.logo{
  height:80px;
  width:100px;
  border-radius: 50px;
}

.dog-bone{
  height:80px;
  width:100px;
}

.activeDog{
  height: 100;
  width: 100%;
  margin-top:10px;
  object-fit: cover;
  border-radius:10px;
  /* background-color: crimson; */
}

.com{
 background-color: brown;
}
.scroller{
  overflow-y: scroll;
  max-height: 88vh
}