/* BASIC STYLES HERE */


.dog-card{

  display: inline-block;
	color: black;
	
	text-decoration: none;
	/* background: hsl(187 75% 64%); */
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.05rem solid;
}

.dog-image{
  border-radius: 0.6rem;
  border-top: 10px;
  height: 11rem;
  width: 11rem;
  object-fit: cover;
}
.logo{
  height:80px;
  width:100px;
  border-radius: 50px;
}

.dog-bone{
  height:80px;
  width:100px;
}